<md-tabs md-dynamic-height md-border-bottom ng-cloak>
    <md-tab label="Establecimietos">
        <md-content class="md-padding">
            <h1 ng-show="backOEstVM.view == 'listEstabs'" class="md-display-2 est-t">Mis Establecimietos</h1>
            <p ng-show="backOEstVM.view == 'listEstabs'">Desde aquí podrás ver la información de los establecimientos que tienes, modificar la información o eliminarlos. También podrás añadir un nuevo cuando quieras.</p>
            <h1 ng-show="backOEstVM.view == 'addEstab'" class="md-display-2 add-t">Añadir Establecimiento</h1>
            <p ng-show="backOEstVM.view == 'addEstab'">Complete los campos con la información sobre su nuevo establecimiento. Después dale al botón <strog>Añadir</strog>.</p>
            <h1 ng-show="backOEstVM.view == 'assocSp'" class="md-display-2 impart-t">Impartir Deportes</h1>
            <blockquote ng-show="backOEstVM.view == 'assocSp'">
                <p>Desde aquí podrás seleccionar los deportes que deseas impartir en el establecimiento. Por defecto, se te mostrarán los que ya
                estás impartiendo actualmente (si lo estás haciendo). Será necesario que selecciones los deportes que se impartirán en el establecimiento,
                antes de poner añadir un <strong>Curso</strong> al mismo</p>
            </blockquote>
            <h1 ng-show="backOEstVM.view == 'updateEstab'" class="md-display-2 update-t">Actualizar Establecimiento</h1>
            <blockquote ng-show="backOEstVM.view == 'updateEstab'">
                <p>Desde aquí podrás actualizar la información del Establecimiento. Por defecto, se te mostrará, la información que
                actualmente has proporcionado para el Establecimiento en cuestión.</p>
            </blockquote>
            <backoffice-estabs></backoffice-estabs>
            <md-button scroll-to ng-show="backOEstVM.view == 'listEstabs'" class="md-fab md-primary add-btn" aria-label="Añadir Nuevo" id="addEst"  ng-click="backOEstVM.changeView('addEstab')" name="add-est">
                <md-icon md-svg-icon="public/images/icons/add.svg" aria-hidden="true""></md-icon>
                <md-tooltip md-direction="right">
                    Añadir Establecimiento
                </md-tooltip>
            </md-button>
            <md-button scroll-to  ng-show="backOEstVM.view == 'addEstab' || backOEstVM.view == 'assocSp' || backOEstVM.view == 'updateEstab'" class="md-fab md-default add-btn" aria-label="Añadir Nuevo" id="listEst"  ng-click="backOEstVM.changeView('listEstabs')" name="list-est">
                <md-icon md-svg-icon="public/images/icons/arrow_back.svg" aria-hidden="true""></md-icon>
                <md-tooltip md-direction="right">
                    Volver a Lista
                </md-tooltip>
            </md-button>
        </md-content>
    </md-tab>
    <md-tab label="Cursos">
        <md-content class="md-padding">
            <h1 class="md-display-2">Horarios</h1>
            <p>Desde aquí podrás ver los hrarios de tus establecimientos, modificarlos, eliminarlos, y añadir nuevos. Primero deberás
                seleccionar el establecimiento del cual quieres gestionar los horarios.</p>
            <md-content layout="row" layout-sm="column" layout-wrap  id="establishments-courses-container"
                        ng-controller="BackOfficeCoursesController as coursesVM">
                <md-input-container class="md-block" flex="40">
                    <label>Establecimiento</label>
                    <md-select ng-model="coursesVM.selectedEst" md-on-close="coursesVM.getCourses(coursesVM.selectedEst)">
                        <md-option ng-repeat="est in backOEstVM.fullEstabs" value="{{est.id}}">{{est.name}}</md-option>
                    </md-select>
                </md-input-container>
            </md-content>
        </md-content>
    </md-tab>
    <md-tab label="Horarios">
        <md-content class="md-padding">
            <h1 class="md-display-2">Horarios</h1>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
    </md-tab>
    <md-tab label="Deportes">
        <md-content class="md-padding">
            <h1 class="md-display-2">Deportes</h1>
            <p>¿No has encontrado el deporte que quieres impartir en tu establecimento?. Desde aquí podrás añadirlo, y posteriomente,
            comenzar a impartir sus cursos.</p>
            <add-sport></add-sport>
        </md-content>
    </md-tab>
</md-tabs>