<link rel="stylesheet" type="text/css" href="public/stylesheets/back-office-estabs.css">
<md-content layout="row" layout-sm="column" layout-wrap id="establishments-list-container" ng-show="backOEstVM.view == 'listEstabs'" ng-cloak>
    <p class="md-body-1" ng-show="backOEstVM.estabs.length == 0">Todavía no has añadido ningún establecimiento.</p>
    <div class="est-owner-container" flex="33" flex-sm="100" flex-xs="100" ng-repeat="item in backOEstVM.estabs"
         id="estab-{{item.id}}-m">
        <md-card>
            <img ng-src="{{backOEstVM.imgFolder+item.main_img}}" class="md-card-image md-card-image-{{item.id}}" alt="{{backOEstVM.imgFolder+item.main_img}}" src="{{backOEstVM.imgFolder+item.main_img}}">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline color-primary">{{item.name}}</span>
                    <div layout="row">
                        <p class="md-body-1">{{item.city}}</p>
                    </div>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
                <md-divider></md-divider>
                <md-button delete-estab class="md-icon-button md-button md-ink-ripple" type="button" aria-label="Eliminar"
                           id="delete-estab-m"  name="{{item.id}}">
                    <md-icon md-svg-icon="public/images/icons/delete.svg" aria-hidden="true" id="est-delete-{{item.id}}"></md-icon>
                    <md-tooltip md-direction="top">
                        Eliminar {{item.name}}
                    </md-tooltip>
                    <p>{{estDel.status}}</p>
                </md-button>
                <md-button class="md-icon-button md-button md-ink-ripple" type="button" aria-label="Eliminar"
                           id="impart-sport"  ng-click="backOEstVM.changeView('assocSp', item.id)" name="{{item.id}}">
                    <md-icon md-svg-icon="public/images/icons/add_s.svg" aria-hidden="true" id="est-add-sport-{{item.id}}"></md-icon>
                    <md-tooltip md-direction="top">
                        Impartir deporte en {{item.name}}
                    </md-tooltip>
                </md-button>
                <md-button scroll-to class="md-icon-button md-button md-ink-ripple" type="button" aria-label="Actualizar"
                           id="update-estab"  ng-click="backOEstVM.changeView('updateEstab', item.id)" name="{{item.id}}">
                    <md-icon md-svg-icon="public/images/icons/edit.svg" aria-hidden="true" id="update-{{item.id}}"></md-icon>
                    <md-tooltip md-direction="top">
                        Actualizar información
                    </md-tooltip>
                </md-button>
                <md-button upload-est-btn class="md-icon-button md-button md-ink-ripple" type="button" aria-label="Subir Imagen perfil"
                           id="update-img-estab"  ng-click="estDtVm.getEstablishment(item.id)" name="{{item.id}}">
                    <label for="img-estab-btn-{{item.id}}">
                        <md-icon md-svg-icon="public/images/icons/add_photo.svg" aria-hidden="true" id="update-img-{{item.id}}"></md-icon>
                        <md-tooltip md-direction="top">
                            Cambiar imagen de perfil
                    </label>
                    </md-tooltip>
                </md-button>
                <input id="img-estab-btn-{{item.id}}" type="file" style="display:none;"/>
            </md-card-actions>
        </md-card>
    </div>
    <div>
        <md-button ng-show="backOEstVM.after != 'none' && backOEstVM.after != 0" class="md-raised default-button" ng-click="backOEstVM.getEstabs(ev)"
                   id="fetch-more-btn">
            Ver Más
        </md-button>
    </div>
</md-content>