<link rel="stylesheet" type="text/css" href="public/stylesheets/back-office-estabs.css">
<md-content layout="row" layout-sm="column" layout-wrap id="establishments-list-container" ng-show="backOEstVM.view == 'listEstabs'" ng-cloak>
    <div class="est-owner-container" flex="33" hide-sm hide-xs ng-repeat="item in backOEstVM.estabs">
        <md-card>
            <img ng-src="{{backOEstVM.imgFolder+item.main_img}}" class="md-card-image" alt="{{backOEstVM.imgFolder+item.main_img}}" src="{{backOEstVM.imgFolder+item.main_img}}">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline color-primary">{{item.name}}</span>
                    <div layout="row">
                        <p class="md-body-1">{{item.city}}</p>
                    </div>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
                <md-divider></md-divider>
                <md-button class="md-icon-button md-button md-ink-ripple" type="button" aria-label="Eliminar"
                           id="delete-estab"  ng-click="estDtVm.getEstablishment(item.id)" name="{{item.id}}">
                    <md-icon md-svg-icon="public/images/icons/delete.svg" aria-hidden="true" id="est-delete-{{item.id}}"></md-icon>
                    <md-tooltip md-direction="top">
                        Eliminar {{item.name}}
                    </md-tooltip>
                </md-button>
                <md-button class="md-icon-button md-button md-ink-ripple" type="button" aria-label="Eliminar"
                           id="add-sport"  ng-click="backOEstVM.changeView('assocSp', item.id)" name="{{item.id}}">
                    <md-icon md-svg-icon="public/images/icons/add_s.svg" aria-hidden="true" id="est-add-sport-{{item.id}}"></md-icon>
                    <md-tooltip md-direction="top">
                        Impartir deporte en {{item.name}}
                    </md-tooltip>
                </md-button>
                <md-button class="md-icon-button md-button md-ink-ripple" type="button" aria-label="Actualizar"
                           id="update-estab"  ng-click="estDtVm.getEstablishment(item.id)" name="{{item.id}}">
                    <md-icon md-svg-icon="public/images/icons/edit.svg" aria-hidden="true" id="update-{{item.id}}"></md-icon>
                    <md-tooltip md-direction="top">
                        Actualizar información
                    </md-tooltip>
                </md-button>
                <md-button class="md-icon-button md-button md-ink-ripple" type="button" aria-label="Subir Imagen perfil"
                           id="update-img-estab"  ng-click="estDtVm.getEstablishment(item.id)" name="{{item.id}}">
                    <md-icon md-svg-icon="public/images/icons/add_photo.svg" aria-hidden="true" id="update-img-{{item.id}}"></md-icon>
                    <md-tooltip md-direction="top">
                        Cambiar imagen de perfil
                    </md-tooltip>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div>
        <md-button ng-show="backOEstVM.after != 'none' && backOEstVM.after != 0" class="md-raised default-button" ng-click="backOEstVM.getEstabs(ev)"
        id="fetch-more-btn">
            Ver Más
        </md-button>
    </div>
</md-content>
<backoffice-add-est></backoffice-add-est>
<md-content layout="column" layout-wrap  id="establishments-ass-sp-container" ng-show="backOEstVM.view == 'assocSp'"
            ng-controller="SportListController as spList" flex="100" ng-cloak>
    <form novalidate name="estSpForm" ng-submit="backOEstVM.associateSport(backOEstVM.id,backOEstVM.selectedSports,ev)">
        <md-chips ng-model="backOEstVM.selectedSports" md-autocomplete-snap
                  md-transform-chip="spList.transformChip($chip)" md-require-match="true"
                  class="chipsdemoCustomInputs" flex="70">
            <md-autocomplete
                    md-selected-item="spList.selectedItem"
                    md-search-text="spList.searchText"
                    md-items="item in spList.querySearch(spList.searchText)"
                    md-item-text="item.name"
                    placeholder="Busca tus deportes">
                <span md-highlight-text="spList.searchText">{{item.display}}</span>
            </md-autocomplete>
            <md-chip-template>
            <span>
              <strong>{{$chip.name}}</strong>
            </span>
            </md-chip-template>
            <md-chip ng-repeat="sp in backOEstVM.currentSports">{{sp.name}}</md-chip>
        </md-chips>
        <md-input-container class="md-block" flex="40">
            <md-button class="md-raised md-primary"
                       id="assoc-sp-btn" type="submit">
                Impartir
            </md-button>
        </md-input-container>
    </form>
</md-content>