include header
link(rel="stylesheet" type="text/css" href="public/stylesheets/back-office.css")
div(ng-controller="BackOfficeEstabController as backOEstVM" ng-init="backOEstVM.getEstabs(ev)")
    md-toolbar(ng-show="estDtVm.establishment == null")
        div(layout='row', flex='95', hide-sm, hide-xs).md-toolbar-tools.layout-center.md-toolbar-tools-notpading
            h2
                a(href='/') JustSport
            span(flex='')
            a(href='/account/#/login' ng-show="!loginVm.loggedIn").md-body-1 Login
            a(ng-show="loginVm.loggedIn" ng-click="loginVm.openMenu()").md-body-1.clickable.account-options Mi cuenta
        div(layout='row', show-sm, hide-gt-sm, hide-md, hide-gt-md, hide-lg, hide-gt-lg, hide-xl).md-toolbar-tools.layout-center
            h2
                a(href='/') JustSport
            span(flex='')
            md-button.md-icon-button(aria-label='More',ng-show="loginVm.loggedIn")
                a(ng-click="loginVm.openMenu()")
                    md-icon(md-svg-icon='./public/images/icons/account.svg')
            a(ng-show="!loginVm.loggedIn" href='/account/').md-body-1.clickable.account-options Login
    div(md-content, layout="row", layout-align-gt-sm="center center", layout-align-sm="center center" ng-cloak)
        div(flex="95", flex-sm="95", layout="column")
            h2.md-display-2.font-header Panel de Control
            backoffice-tabs
include footer

