include header
link(rel="stylesheet" type="text/css" href="public/stylesheets/back-office.css")
div(ng-controller="BackOfficeEstabController as backOEstVM" ng-init="backOEstVM.getEstabs(ev)" id="main_back_container")
    md-toolbar(ng-show="estDtVm.establishment == null")
        div(hide-sm, hide-xs).md-toolbar-tools.layout-center
            md-button(aria-label='Home').md-icon
                a(href='/') JustSport
            span(flex='')
            md-button(aria-label='Login',ng-show="!loginVm.loggedIn")
                a(href='/account/#/login').md-body-1 Login
            md-button(aria-label='Login',ng-show="loginVm.loggedIn")
                a(ng-click="loginVm.openMenu()").md-body-1.clickable.account-options Mi cuenta
        div(show-sm, hide-gt-sm, hide-md, hide-gt-md, hide-lg, hide-gt-lg, hide-xl).md-toolbar-tools.layout-center
            md-button(aria-label='Home').md-icon
                a(href='/') JustSport
            span(flex='')
            md-button(aria-label='More',ng-show="loginVm.loggedIn").md-icon
                a(ng-click="loginVm.openMenu()")
                    md-icon(md-svg-icon='./public/images/icons/account.svg')
            md-button(aria-label='More',ng-show="!loginVm.loggedIn")
                a(href='/account/').md-body-1.clickable.account-options Login
    div(md-content, layout="row", layout-align-gt-sm="center center", layout-align-sm="center center" ng-cloak layout-margin)
        div(flex="95", flex-sm="95", layout="column")
            h2(hide-sm, hide-xs).md-display-2.font-header Panel de Control
            backoffice-tabs
include footer

