doctype html
html(ng-app="justSport")
    head
        meta(name='viewport', content='width=device-width')
        base(href="/")
        title= "JustSport"
        link(rel="stylesheet",href="/node_modules/angular-material/angular-material.css")
        link(rel="stylesheet",href="/public/stylesheets/style.css")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
    body(ng-cloak, ng-controller="LoginController as loginVm")
            md-content
                div(layout='row')
                    br
                    md-toolbar
                        div(layout='row', flex='95', hide-sm, hide-xs).md-toolbar-tools.layout-center.md-toolbar-tools-notpading
                            h2
                                span JustSport
                            span(flex='')
                            a(href='/account/' ng-show="!loginVm.loggedIn").md-body-1 Login
                            a(ng-show="loginVm.loggedIn" ng-click="loginVm.logout()").md-body-1.clickable.account-options Salir
                        div(layout='row', show-sm, hide-gt-sm, hide-md, hide-gt-md, hide-lg, hide-gt-lg, hide-xl).md-toolbar-tools.layout-center
                            h2
                                span JustSport
                            span(flex='')
                            md-button.md-icon-button(aria-label='More')
                                md-icon(md-svg-icon='./public/images/icons/account.svg')

