doctype html
html(ng-app="justSport")
    head
        meta(name='viewport', content='width=device-width')
        base(href="/")
        title= "JustSport"
        link(rel="stylesheet",href="/node_modules/angular-material/angular-material.css")
        link(rel="stylesheet",href="/public/stylesheets/style.css")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
    body(ng-controller="LoginController as loginVm" ng-init="loginVm.isLoggedIn()" ng-show="!loginVm.stop" ng-cloak)
            md-sidenav.md-sidenav-right.md-whiteframe-z2(md-component-id='right')
                md-toolbar.md-theme-light
                    h1.md-toolbar-tools Mi Cuenta
                md-content(layout-padding='', layout="column", layout-align="start none")
                    md-button(ng-href="/account/profile" name="profile").md-primary Perfil
                    md-button(ng-show="loginVm.role == 'owner' || loginVm.role == 'admin'" ng-href="/backoffice" name="backoffice").md-primary Administrar Establecimientos
                    md-button(ng-href="",ng-click="loginVm.logout()" name="logout").md-primary Salir




