[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

#preload{
    position: absolute;
    width: 100%;
    background-color: #2b2929;
    height: 100%;
    opacity: 0.4;
    z-index: 9999;
}

#preload p{
    color: white;
}

#preload .block{
    margin-top: 50%;
}


backoffice-tabs{
    background-color: inherit;
}

.add-btn{
    margin-top: 30px;
}

@media screen and (min-width: 0px) and (max-width: 599px){
    .est-owner-container md-card img {
        height: 225px;
    }
    .est-owner-container md-card md-card-title {
        padding: 10px 16px 5px;
    }
}