.est-owner-container{
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.est-owner-container.ng-enter, .est-owner-container.ng-move, .est-owner-container.ng-leave{
    opacity: 0;
    transform: scale(0.001);
    transition-property: transform, opacity;
    /*transform: translate3d(-759px,0px,0px);
    transition-property: transform, opacity;*/
}

.est-owner-container.ng-hide{
    opacity: 0;
    transform: scale(0.001);
    transition-property: transform, opacity;
}
#establishments-list-container{
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
#establishments-list-container.ng-hide{
    opacity: 0;
    transform: scale(0.001);
    transition-property: transform, opacity;
}

#establishments-add-container{
    opacity: 1;
    transform: scale(1);
    transition-property: transform, opacity;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

#establishments-add-container.ng-hide{
    opacity: 0;
    transform: scale(0.001);
    transition-property: transform, opacity;
    -webkit-transition: 0s;
    transition: 0s;
}


.est-owner-container md-card{

    margin-bottom: 40px;
}


.est-owner-container md-card img{
    padding: 5px;
    height: 270px;
}

.est-owner-container md-card md-card-actions{
    border-top: 1px solid rgba(0,0,0,0.12);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}


/*Add est form*/
.margin-input-right{
    margin-right: 15px;
}
form[name='addEstabForm'] md-autocomplete{
    margin-right: 15px;
    height: 90px !important;
}