p{
    margin:0;
}

ul{
    list-style: none;
    padding: 0px;
    margin-top: 20px;
}

ul li{
    margin-bottom: 15px;
}

.decored-list{
    list-style: ;
}

.link{
    color: #106CC8;
}

.margin-left{
    margin-left: 20px;
}

.clist{

}

.subheader{
    font-family: 'Open Sans Condensed', sans-serif;
}