.est-search-container{
    transition-duration: 0.4s;
}

.est-search-container.ng-hide{
    transform: scale(0.001);
    transition-property: transform, opacity;

}

.flex-33 img{
    height: 250px;
}
.md-card-image{
    padding: 5px;
}
.flex-100 md-card{
    min-height: 255px;
}

.flex-100 md-card .md-card-title .md-card-title-media .md-media-lg {
    height: 252px;
    width: 252px;
}

md-card{
    min-height: 508px;
}

.md-card-actions md-icon{
    color: rgba(0,0,0,0.87);
}

.fetch-more-link{
    cursor: pointer;
}

.fetch-more-link:hover{
    text-decoration: underline;
    color: rgb(16,108,200);
}

/*Responsive*/

@media screen and (min-width: 0px) and (max-width: 599px){
    .input-search md-input-container{
        padding: 0px !important;
    }

    .input-search label{
        font-size: 18px;
    }
}