.login-container, .register-container{
    background-color: white;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.login-container form, .register-container form{
    padding: 30px;
}

/**transitions*/
.login-container.ng-hide, .login-title.ng-hide{
    transform: translateX(50%);
}

.login-container.ng-hide-add, .login-title.ng-hide-add{
    transform: translateX(0%);
    transition: 0s;
}

.login-container{
    transition: 0.5s;
}
.register-container.ng-hide, .register-title.ng-hide{
    transform: translateX(-50%);
}

.register-container.ng-hide-add, .register-title.ng-hide-add{
    transform: translateX(0%);
    transition: 0s;
}

.register-container, .register-title{
    transform: translateX(0%);
    transition: 0.5s;
    margin-bottom: 10px;
}

.login-title, .register-title{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    transition: 0.5s;
}

.margin-field{
    margin-top: 15px;
}