.profile-img-container{
    padding: 20px;
}
.profile-img-container img{
    height: 150px;
    width: 100%;
    background-color: rgba(66, 65, 65, 0.87);
    border: 4px solid rgba(66, 65, 65, 0.87);
    border-radius: 2px;
    cursor: pointer;
}

.img-upload-btn{
    padding: 0;
    margin: 0;
}