<md-dialog aria-label="Mango (Fruit)" ng-controller="EstablishmentDetailsController as estDtVm" ng-init="estDtVm.getSchedule(estDtVm.course.id)">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Curso de {{estDtVm.course.Sport.name}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="estDtVm.hideSchedule()">
                    <md-icon md-svg-src="public/images/icons/ic_close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Información">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Información</h1>
                        <h3 class="md-subhead">La información sobre el curso, y sus condiciones podrán cambiar en cualquier momento.
                        Te recomendamos, que permanezcas al tanto.</h3>
                        <p class="md-body-1 course-info">{{estDtVm.course.info}}</p>
                        <ul>
                            <li>
                                <p class="course-instructor"><strong>Monitor: </strong>{{estDtVm.course.instructor}}</p>
                            </li>
                            <li>
                                <p class="course-price"><strong>Precio: </strong>{{estDtVm.course.price | number:2 }} €</p>
                            </li>
                        </ul>
                    </md-content>
                </md-tab>
                <md-tab label="Horario">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Horario</h1>
                        <p class="md-body-1 no-schedule-message" ng-if="estDtVm.schedule.length == 0">Todavía no se han establecido horarios para este curso. Permanece atento, ya que estos, podrán
                        estar disponibles en cualquier momento.</p>
                        <p class="md-body-1 schedule-message" ng-if="estDtVm.schedule.length > 0">Esto son los horarios <strong>actualmente</strong> disponibles para el curso que has seleccionado. Recuerda que estos,
                        variarán en función del curso seleccionado, aunque estos, sean de la misma actividad.</p>
                        <md-list id="schedule-list" ng-if="estDtVm.schedule.length > 0">
                            <md-list-item class="md-3-line" ng-repeat="item in estDtVm.schedule">
                                <div class="md-list-item-text">
                                    <h3>{{item.day}}</h3>
                                    <p>{{item.startTime}} - {{item.endTime}}</p>
                                </div>
                                <md-divider ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
    </form>
</md-dialog>