<md-content layout="row" layout-sm="column" layout-wrap  id="establishments-schedule-container"
            ng-controller="BackOfficeCoursesController as coursesVM">
    <h1 show-gt-sm show-md show-gt-md show-lg show-gt-lg show-xl hide-sm hide-xs class="md-display-2" ng-show="!coursesVM.addSchedView">Horarios</h1>
    <p show-gt-sm show-md show-gt-md show-lg show-gt-lg show-xl hide-sm hide-xs ng-show="!coursesVM.addSchedView">Desde aquí podrás ver los horarios de los cursos, eliminarlos, y añadir nuevos. Primero deberás seleccionar el
    establecimiento y curso, del cual quieres consultar los horarios.</p>
    <h1 hide-gt-sm hide-md hide-gt-md hide-lg hide-gt-lg hide-xl show-sm show-xs class="md-headline" ng-show="!coursesVM.addSchedView">Horarios</h1>
    <p hide-gt-sm hide-md hide-gt-md hide-lg hide-gt-lg hide-xl show-sm show-xs class="md-body-1" ng-show="!coursesVM.addSchedView">Desde aquí podrás ver los horarios de los cursos, eliminarlos, y añadir nuevos. Primero deberás seleccionar el
        establecimiento y curso, del cual quieres consultar los horarios.</p>
    <md-input-container class="md-block" flex="40" flex-sm="100" flex-xs="100" ng-show="coursesVM.selectedC == null && !coursesVM.addView">
        <label>Establecimiento</label>
        <md-select ng-model="coursesVM.selectedEst" md-on-open="coursesVM.getFullEstabs()" md-on-close="coursesVM.getCourses(coursesVM.selectedEst,ev)"
                   flex="100" id="list-ests-sched">
            <md-option ng-repeat="est in coursesVM.fullEstabs" value="{{est.id}}">{{est.name}}</md-option>
        </md-select >
    </md-input-container>
    <div flex="5" ng-if="coursesVM.selectedC == null && !coursesVM.addView"></div>
    <md-input-container class="md-block" flex="40" flex-sm="100" flex-xs="100"  ng-show="coursesVM.currentCourses.length > 0 && coursesVM.selectedC == null">
        <label>Curso</label>
        <md-select ng-model="coursesVM.selectedCourse"
                   flex="100" id="list-courses-sched" md-on-close="coursesVM.getSchedule(coursesVM.selectedCourse)">
            <md-option ng-repeat="course in coursesVM.currentCourses" value="{{course.id}}">{{course.info}}({{course.Sport.name}})</md-option>
        </md-select>
    </md-input-container>

    <md-content layout="row" layout-sm="column" layout-wrap  id="establishments-list-schedule-container"
                ng-show="coursesVM.schedule.length > 0 && !coursesVM.addSchedView" flex="100">
        <md-list id="schedule-list-backoffice" flex="100">
            <md-list-item class="md-3-line" ng-repeat="item in coursesVM.schedule" id="schedule-{{item.id}}">
                <div class="md-list-item-text">
                    <h3>{{item.day}}</h3>
                    <p>{{item.startTime}} - {{item.endTime}}</p>
                </div>
                <div layout-align="right">
                    <md-button delete-sc class="md-icon-button md-button md-ink-ripple" type="button" aria-label="Eliminar"
                               id="delete-schedule-{{coursesVM.selectedCourse}}" name="{{item.id}}" style="margin-top: 20px"
                    ng-click="coursesVM.deleteSchedule(item.id,ev)">
                        <md-icon md-svg-icon="public/images/icons/delete.svg" aria-hidden="true" id="est-schedule-delete-{{item.id}}"></md-icon>
                        <md-tooltip md-direction="top">
                            Eliminar hora
                        </md-tooltip>
                    </md-button>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
    <add-schedule></add-schedule>
    <md-input-container flex="100" style="padding: 0px">
        <md-button ng-show="coursesVM.emptySchedule || (coursesVM.schedule.length > 0 && !coursesVM.addSchedView)" class="md-fab md-primary add-btn" aria-label="Añadir Nuevo"
                   id="addSched"  ng-click="coursesVM.changeView()" name="add-sched">
            <md-icon md-svg-icon="public/images/icons/add.svg" aria-hidden="true""></md-icon>
            <md-tooltip show-gt-sm show-md show-gt-md show-lg show-gt-lg show-xl show-sm hide-xs md-direction="right">
                Añadir Nueva Hora
            </md-tooltip>
        </md-button>
        <md-button class="md-fab md-default add-btn" aria-label="Volver a Cursos" id="listSchedule"
                    name="list-schedule" ng-click="coursesVM.backToList()" ng-show="coursesVM.schedule.length > 0 || coursesVM.addSchedView || coursesVM.emptySchedule">
            <md-icon md-svg-icon="public/images/icons/arrow_back.svg" aria-hidden="true""></md-icon>
            <md-tooltip show-gt-sm show-md show-gt-md show-lg show-gt-lg show-xl show-sm hide-xs md-direction="right">
                Volver a selección de Horario
            </md-tooltip>
        </md-button>
    </md-input-container>
</md-content>